---
layout: minimal
title: "Android"
permalink: /android/index.html
image: '/assets/img/series.png'
description: "This section is focused on share experiences and knowledge about android development making strong emphasis in raise discussion and technical level in Latin America the content is written in spanish"
---

{% for tag in site.categories %}
  {% if tag[0] != "mobile" %}
    <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>
  {% endif %}
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}

      {% if post.title != null %}
          {% if group == null or group == post.group %}
            {% if tag[0] == "android" %}
              <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
            {% endif %}
          {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
