---
layout: minimal
title: "· IOS ¬ Android"
permalink: /ios-android/index.html
description: "The goal of this section is talking about android and iOS development, I have learned that iOS and android engineers can collaborate more easily and work in parallel independent of platform"
---

<div class="tags">
{% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    {% if tag[0] != "android" %}
        <a data-scroll href="#{{ tag | slugify }}">{{ tag }}</a>
    {% endif %}
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
      {% if tag[0] != "android" %}
        <a data-scroll href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div>

{% for tag in site.tags  %}
  {% if tag[0] != "android" %}
    <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] }} development</span>
  {% endif %}
    <ul class="post-list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list%}
            {% if post.title != null %}
            {% if group == null or group == post.group %}
              {% if tag[0] != "android" %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
              {% endif %}
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
{% endfor %}
